[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/adsense"]
	path = themes/adsense
	url = https://github.com/gonapps-org/hugo-apps-theme.git
